div{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQT356wb1MsBgWXecL_azf4HYp4-XXeGkzlI_FcMcahKSVLbHEf&usqp=CAU");
}

a{
    background-color: antiquewhite;
    color:black;
}
